
# Note that envoronment variables should be set via a file in /etc/profile.d directory
# Runs as example_app user


[Unit]
Description=Some web service
After=postgresql.service redis.service

[Service]
Environment=NODE_ENV=production
# Additionally you can specify custom restart and stop commands
ExecStart=/home/example_app/.nvm/versions/node/v7.8.0/bin/node run_server.js
WorkingDirectory=/home/example_app/example_app_sockets/current
Restart=always # Auto restart
RestartSec=10 # Restart delay
StandardOutput=syslog
StandardError=syslog # Syslog is best log
Type=simple
SyslogIdentifier=example_app-sockets # access via journalctl
User=example_app
Group=example_app
PrivateTmp=True # create a private tmp directory
NoNewPrivileges=True # DO not allow escalation after start via sudo for example.

[Install]
WantedBy=multi-user.target
